.container {
  display: flex;
}

.column {
  height: 100vh;
  width: 500px;
  margin: 0 20px;

  display: flex;
  flex-direction: column;
}

.words {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid gray;

  list-style-type: none;
  overflow: auto;
}

.word {
  border-bottom: 1px solid gray;

  display: flex;
}

.block {
  width: 50%;
  max-width: 50%;
  padding: 6px;
  border-left: 1px solid gray;

  overflow: hidden;
  text-overflow: ellipsis;
}

.block_icon {
  width: 50%;
  padding: 6px;
  border-left: 1px solid gray;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

.sort {
  width: 50%;
  padding: 6px;
  border-left: 1px solid gray;
}

.sort:hover {
  cursor: pointer;
  background-color: #add8e6;
}

.textarea {
  width: 100%;
  height: 100vh;

  outline: none;
}

input {
  padding: 6px 10px;

  font-size: 18px;

  outline: none;
}

.div {
  padding: 6px 10px;

  font-size: 18px;
}

.save {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid gray;

  color: white;
  font-weight: 600;
  font-size: 18px;

  background-color: lightblue;

  outline: none;
}

.save:hover {
  cursor: pointer;
}

.modal {
  padding: 8px 20px;
  border: 1px solid lightblue;

  position: absolute;
  top: 200px;
  right: 600px;
  left: 600px;
  bottom: 500px;
  display: flex;
  flex-direction: column;

  background-color: white;

  overflow: auto;
  border-radius: 4px;
  outline: none;
}

.marginBottom {
  margin-bottom: 10px;
}

.error {
  margin-bottom: 10px;

  color: red;
}

.marginRightBottom {
  margin-bottom: 10px;
  margin-right: 10px;
}
